.MuiCardContent-root {
    padding: 16px !important;
  }
  .box {
    background-color: #393939;
    color: #fff;
    border-radius: 0px;
    padding: 10px;
    font-size: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
  .box:nth-child(even) {
    background-color: #52819d;
    color: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
  
  .wrapper {
    width: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(9, auto);
  }
  
  